Repository DanielShuguang/tool-box: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js,tsx}": [
    "oxlint --fix",
    "oxfmt"
  ],
  "*.vue": [
    "oxlint --fix --vue-plugin",
    "prettier --write"
  ]
}

refactor(随机选择): 重新设计页面 UI/UX
  src/views/RandomPicker/RandomPicker.vue
  src/views/RandomPicker/components/OptionList.vue
  src/views/RandomPicker/components/PickArea.vue
  src/views/RandomPicker/components/PickHistory.vue
  src/views/RandomPicker/components/TargetConfig.vue
Due: oxlint --fix --vue-plugin, prettier --write

refactor(待办事项): 重新设计页面 UI/UX
  src/views/Todo/Todo.vue
Due: oxlint --fix --vue-plugin, prettier --write

refactor(随机选择): 优化布局和选择按钮样式
  src/views/RandomPicker/RandomPicker.vue
  src/views/RandomPicker/components/OptionList.vue
  src/views/RandomPicker/components/PickArea.vue
  src/views/RandomPicker/components/PickHistory.vue
Due: oxlint --fix --vue-plugin, prettier --write

fix(随机选择): 修复 OptionList.vue 模板解析错误
  src/types/components.d.ts
  src/views/RandomPicker/components/OptionList.vue
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

refactor(工具页面): 重新设计页面 UI/UX
  openspec/changes/archive/2026-04-18-redesign-utility-pages/.openspec.yaml
  openspec/changes/archive/2026-04-18-redesign-utility-pages/design.md
  openspec/changes/archive/2026-04-18-redesign-utility-pages/proposal.md
  openspec/changes/archive/2026-04-18-redesign-utility-pages/specs/page-redesign/spec.md
  openspec/changes/archive/2026-04-18-redesign-utility-pages/tasks.md
  src/views/Download/Download.vue
  src/views/EyeProtection/EyeProtection.vue
  src/views/FileSearch/FileSearch.vue
  src/views/ReadFile/ReadFile.vue
  src/views/Translator/Translator.vue
  src/views/WindowsActivatiion/WindowsActivatiion.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(RandomPicker): 重构随机选择器界面并增强用户体验
  src/types/components.d.ts
  src/views/FileSearch/FileSearch.vue
  src/views/RandomPicker/RandomPicker.vue
  src/views/RandomPicker/components/OptionList.vue
  src/views/RandomPicker/components/PickArea.vue
  src/views/RandomPicker/components/PickHistory.vue
  src/views/ReadFile/ReadFile.vue
  src/views/Translator/Translator.vue
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

ci: 移除 oxfmt 从 lint-staged 配置
  .lintstagedrc.json
Due: none

docs: 更新项目文档，补充功能模块和技术栈信息
  CLAUDE.md
  README.md
  openspec/config.yaml
Due: none

fix(WindowsActivatiion): 修复激活状态显示逻辑
  src/views/WindowsActivatiion/WindowsActivatiion.vue
Due: oxlint --fix --vue-plugin, prettier --write

fix(translator): Add http:allow-fetch-cancel-body permission and improve request handling
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src/types/components.d.ts
  src/utils/request.ts
Due: oxlint --fix, oxfmt

feat(screenshot): 新增截图工具功能
  openspec/changes/archive/2026-06-07-screenshot-tool/.openspec.yaml
  openspec/changes/archive/2026-06-07-screenshot-tool/design.md
  openspec/changes/archive/2026-06-07-screenshot-tool/proposal.md
  openspec/changes/archive/2026-06-07-screenshot-tool/specs/screen-capture/spec.md
  openspec/changes/archive/2026-06-07-screenshot-tool/specs/screenshot-config/spec.md
  openspec/changes/archive/2026-06-07-screenshot-tool/specs/screenshot-editor/spec.md
  openspec/changes/archive/2026-06-07-screenshot-tool/specs/screenshot-preview/spec.md
  openspec/changes/archive/2026-06-07-screenshot-tool/tasks.md
  openspec/specs/screen-capture/spec.md
  openspec/specs/screenshot-config/spec.md
  openspec/specs/screenshot-editor/spec.md
  openspec/specs/screenshot-preview/spec.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/src/screenshot/capture.rs
  src-tauri/src/screenshot/mod.rs
  src/router/index.ts
  src/stores/screenshot.ts
  src/views/Screenshot/__tests__/screenshot-utils.test.ts
  src/views/Screenshot/components/CaptureWindow.vue
  src/views/Screenshot/components/EditorWindow.vue
  src/views/Screenshot/components/PreviewWindow.vue
  src/views/Screenshot/components/SettingsPanel.vue
  src/views/Screenshot/index.vue
  src/views/Screenshot/utils/screenshot.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

docs: 添加 Claude 规则文件
  .claude/rules/commands.md
  .claude/rules/conventions.md
  .claude/rules/overview.md
  .claude/rules/quality.md
  .claude/rules/tauri.md
Due: none

docs: 更新 CLAUDE.md 文档结构
  CLAUDE.md
Due: none

feat(settings): 添加截图工具配置支持
  src/App.vue
  src/components/Layout/Layout.vue
  src/stores/appSettings.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

style: 代码格式化和类型更新
  src/types/auto-imports.d.ts
  src/types/components.d.ts
  src/utils/request.ts
  src/views/RandomPicker/components/PickHistory.vue
  src/views/Translator/Translator.vue
  src/views/WindowsActivatiion/WindowsActivatiion.vue
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

chore: 添加测试配置和依赖更新
  e2e/specs/app.e2e.ts
  package.json
  pnpm-lock.yaml
  src/stores/__tests__/screenshot.test.ts
  vite.config.ts
  wdio.conf.ts
Due: oxlint --fix, oxfmt

test: Add E2E tests for screenshot, todo, random-picker, and file-search modules
  .claude/rules/quality.md
  .gitignore
  e2e/specs/app.e2e.ts
  e2e/specs/file-search.e2e.ts
  e2e/specs/random-picker.e2e.ts
  e2e/specs/screenshot.e2e.ts
  e2e/specs/todo.e2e.ts
  package.json
  pnpm-lock.yaml
  src/components/Layout/Layout.vue
  src/views/FileSearch/FileSearch.vue
  src/views/RandomPicker/RandomPicker.vue
  src/views/RandomPicker/components/OptionList.vue
  src/views/RandomPicker/components/PickArea.vue
  src/views/Screenshot/components/EditorWindow.vue
  src/views/Screenshot/components/PreviewWindow.vue
  src/views/Screenshot/index.vue
  src/views/Todo/Todo.vue
  tsconfig.e2e.json
  tsconfig.json
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

test: Fix e2e tests flaky selectors and add data-testid attributes
  e2e/specs/app.e2e.ts
  e2e/specs/eye-protection.e2e.ts
  e2e/specs/file-search.e2e.ts
  e2e/specs/random-picker.e2e.ts
  e2e/specs/readfile.e2e.ts
  e2e/specs/screenshot.e2e.ts
  e2e/specs/todo.e2e.ts
  e2e/specs/translator.e2e.ts
  e2e/specs/windows-activation.e2e.ts
  src/views/EyeProtection/EyeProtection.vue
  src/views/FileSearch/FileSearch.vue
  src/views/RandomPicker/RandomPicker.vue
  src/views/RandomPicker/components/OptionList.vue
  src/views/RandomPicker/components/PickArea.vue
  src/views/ReadFile/ReadFile.vue
  src/views/Screenshot/components/EditorWindow.vue
  src/views/Screenshot/components/PreviewWindow.vue
  src/views/Screenshot/index.vue
  src/views/Todo/Todo.vue
  src/views/Translator/Translator.vue
  src/views/WindowsActivatiion/WindowsActivatiion.vue
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

fix(build): 修复 macOS 构建失败
  src-tauri/Cargo.toml
  src-tauri/src/autostart/mod.rs
  src-tauri/src/font.rs
Due: none

feat(layout): macOS 使用系统原生红绿灯窗口按钮
  src-tauri/tauri.macos.conf.json
  src/components/Layout/Layout.vue
  src/components/Layout/logic.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

style: RandomPicker 模板格式化
  src/views/RandomPicker/RandomPicker.vue
  src/views/RandomPicker/components/OptionList.vue
Due: oxlint --fix --vue-plugin, prettier --write
