Repository DanielShuguang/tool-box: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

docs(tauri): 添加高级模式、安全示例和威胁模型文档
  .agents/skills/tauri/SKILL.md
  .agents/skills/tauri/references/advanced-patterns.md
  .agents/skills/tauri/references/security-examples.md
  .agents/skills/tauri/references/threat-model.md
  .opencode/skills/tauri/SKILL.md
  .opencode/skills/tauri/references/advanced-patterns.md
  .opencode/skills/tauri/references/security-examples.md
  .opencode/skills/tauri/references/threat-model.md
  .trae/skills/tauri/SKILL.md
  .trae/skills/tauri/references/advanced-patterns.md
  .trae/skills/tauri/references/security-examples.md
  .trae/skills/tauri/references/threat-model.md
Due: none

build: 添加 dexie 依赖
  package.json
  pnpm-lock.yaml
Due: none

feat(记账工具): 实现基础记账功能模块
  .trae/documents/记账页面实现计划.md
  src/router/index.ts
  src/stores/accounting.ts
  src/types/components.d.ts
  src/utils/storage/index.ts
  src/utils/storage/indexeddb.ts
  src/utils/storage/interface.ts
  src/utils/storage/tauri-store.ts
  src/views/Accounting/Accounting.vue
  src/views/Accounting/logic.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

refactor: 移除未使用的Vue和Pinia导入并添加歌词样式类型
  src/lyrics.ts
  src/stores/appSettings.ts
  src/stores/eyeProtection.ts
  src/stores/lyricsStore.ts
  src/stores/musicPlayer.ts
  src/stores/router.ts
  src/stores/todo.ts
  src/types/lyrics.ts
  src/views/FileSearch/PathHighlight.vue
  src/views/MusicPlayer/components/EditLyricsDialog.vue
  src/views/MusicPlayer/components/LyricsPanel.vue
  src/views/MusicPlayer/components/PlayerPanel.vue
  src/views/MusicPlayer/components/UploadLyricsDialog.vue
  src/views/MusicPlayer/hooks/useDesktopLyrics.ts
  src/views/MusicPlayer/hooks/useLyrics.ts
  src/views/MusicPlayer/hooks/useLyricsCache.ts
  src/views/MusicPlayer/hooks/usePlaylistIO.ts
  src/views/Todo/Todo.vue
  src/views/Todo/logic.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

refactor(FileSearch): 简化全选状态的判断逻辑
  src/views/FileSearch/logic.ts
Due: oxlint --fix, oxfmt

feat(记账): 实现基于IndexedDB的存储方案并重构记账功能
  .trae/documents/为记账页面接入IndexedDB存储.md
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/plugins/plugins.d.ts
  src/stores/accounting.ts
  src/types/components.d.ts
  src/utils/sql/index.ts
  src/utils/sql/indexeddb.ts
  src/utils/sql/interface.ts
  src/utils/sql/tauri-store.ts
  src/views/Accounting/Accounting.vue
  src/views/Accounting/logic.ts
  src/views/Accounting/storage.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

refactor(Accounting): 使用 storeToRefs 重构逻辑并添加删除确认对话框
  src/views/Accounting/logic.ts
Due: oxlint --fix, oxfmt

refactor(accounting): 使用类型别名统一记账记录类型
  src/stores/accounting.ts
  src/views/Accounting/logic.ts
  src/views/Accounting/storage.ts
Due: oxlint --fix, oxfmt

refactor(存储适配器): 简化createStorageAdapter函数参数
  src/utils/sql/index.ts
Due: oxlint --fix, oxfmt

perf(Accounting): 使用并行加载优化记录获取性能
  src/views/Accounting/storage.ts
Due: oxlint --fix, oxfmt

refactor(accounting): 将会计相关类型定义集中到types文件
  .oxlintrc.json
  src/stores/accounting.ts
  src/views/Accounting/Accounting.vue
  src/views/Accounting/logic.ts
  src/views/Accounting/storage.ts
  src/views/Accounting/types.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

fix: 更新依赖并优化文件操作错误处理
  .trae/rules/project_rules.md
  package.json
  pnpm-lock.yaml
  src/backend-channel/file-io.ts
Due: oxlint --fix, oxfmt

feat(accounting): 添加记账数据的导入导出功能
  .trae/documents/记账页面增加数据的导入导出功能.md
  src/backend-channel/file-io.ts
  src/types/components.d.ts
  src/views/Accounting/Accounting.vue
  src/views/Accounting/hooks/useAccountingForm.ts
  src/views/Accounting/hooks/useAccountingImportExport.ts
  src/views/Accounting/hooks/useAccountingRecords.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

docs: 更新项目规则并添加类型检查脚本
  .trae/rules/project_rules.md
  package.json
  src/views/Accounting/Accounting.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(下载): 新增下载管理功能模块
  src/backend-channel/file-io.ts
  src/components/AppSettings/AppSettings.vue
  src/router/index.ts
  src/types/components.d.ts
  src/types/download.ts
  src/views/Download/Download.vue
  src/views/Download/components/DownloadTaskItem.vue
  src/views/Download/components/NewDownloadDialog.vue
  src/views/Download/dialog.ts
  src/views/Download/store.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

refactor(下载): 重构下载模块代码结构并优化存储方式
  src/components/AppSettings/AppSettings.vue
  src/components/Layout/Layout.vue
  src/components/Layout/logic.ts
  src/stores/download.ts
  src/utils/storage.ts
  src/views/Accounting/Accounting.vue
  src/views/Download/Download.vue
  src/views/Download/components/DownloadTaskItem.vue
  src/views/Download/components/NewDownloadDialog.vue
  src/views/Download/hooks/useDownloadDialog.ts
  src/views/Download/store.ts
  src/views/Download/types.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

refactor(下载): 提取下载工具函数到独立模块并添加测试
  package.json
  pnpm-lock.yaml
  src/utils/__tests__/download.test.ts
  src/utils/download/index.ts
  src/views/Download/components/DownloadTaskItem.vue
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

refactor: 重构测试配置并优化开发模式插件加载
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
Due: oxlint --fix, oxfmt

ci: 添加MCP服务器配置文件
  .trae/mcp.json
  src/views/Download/Download.vue
Due: oxlint --fix --vue-plugin, prettier --write

refactor(Download): 更新导入路径使用相对路径
  src/views/Download/hooks/useDownloadDialog.ts
Due: oxlint --fix, oxfmt

feat: 添加测试用例并改进类型定义
  src/lyrics.ts
  src/utils/__tests__/async-pool.test.ts
  src/utils/__tests__/binary-file-types.test.ts
  src/utils/__tests__/development.test.ts
  src/utils/__tests__/event.test.ts
  src/utils/__tests__/promise.test.ts
  src/utils/__tests__/request.test.ts
  src/utils/__tests__/storage.test.ts
  src/utils/__tests__/system.test.ts
  src/utils/async-pool.ts
  tsconfig.json
Due: oxlint --fix, oxfmt

test: 为 utils 模块添加单元测试
  src-tauri/src/utils/crypto.rs
  src-tauri/src/utils/os.rs
  src-tauri/src/utils/output.rs
Due: none

feat: 添加 OpenSpec 实验性工作流相关文件和命令
  .opencode/command/opsx-apply.md
  .opencode/command/opsx-archive.md
  .opencode/command/opsx-bulk-archive.md
  .opencode/command/opsx-continue.md
  .opencode/command/opsx-explore.md
  .opencode/command/opsx-ff.md
  .opencode/command/opsx-new.md
  .opencode/command/opsx-onboard.md
  .opencode/command/opsx-sync.md
  .opencode/command/opsx-verify.md
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-bulk-archive-change/SKILL.md
  .opencode/skills/openspec-continue-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-ff-change/SKILL.md
  .opencode/skills/openspec-new-change/SKILL.md
  .opencode/skills/openspec-onboard/SKILL.md
  .opencode/skills/openspec-sync-specs/SKILL.md
  .opencode/skills/openspec-verify-change/SKILL.md
  .trae/skills/openspec-apply-change/SKILL.md
  .trae/skills/openspec-archive-change/SKILL.md
  .trae/skills/openspec-bulk-archive-change/SKILL.md
  .trae/skills/openspec-continue-change/SKILL.md
  .trae/skills/openspec-explore/SKILL.md
  .trae/skills/openspec-ff-change/SKILL.md
  .trae/skills/openspec-new-change/SKILL.md
  .trae/skills/openspec-onboard/SKILL.md
  .trae/skills/openspec-sync-specs/SKILL.md
  .trae/skills/openspec-verify-change/SKILL.md
  AGENTS.md
  openspec/AGENTS.md
  openspec/config.yaml
Due: none

docs(openspec): 完善项目配置文件和开发规范文档
  openspec/config.yaml
Due: none

feat(画板): 新增画板功能及修复画布拖拽平移问题
  .trae/documents/plan_20260203_123546.md
  openspec/changes/archive/2026-02-04-refactor-canvas-drag-move/.openspec.yaml
  openspec/changes/archive/2026-02-04-refactor-canvas-drag-move/design.md
  openspec/changes/archive/2026-02-04-refactor-canvas-drag-move/proposal.md
  openspec/changes/archive/2026-02-04-refactor-canvas-drag-move/specs/canvas-drag-pan/spec.md
  openspec/changes/archive/2026-02-04-refactor-canvas-drag-move/tasks.md
  package.json
  pnpm-lock.yaml
  src/backend-channel/file-io.ts
  src/router/index.ts
  src/types/components.d.ts
  src/views/CanvasBoard/CanvasBoard.vue
  src/views/CanvasBoard/__tests__/types.test.ts
  src/views/CanvasBoard/components/CanvasContainer.vue
  src/views/CanvasBoard/components/ExportDialog.vue
  src/views/CanvasBoard/components/PropertyPanel.vue
  src/views/CanvasBoard/components/Toolbar.vue
  src/views/CanvasBoard/constants.ts
  src/views/CanvasBoard/hooks/index.ts
  src/views/CanvasBoard/hooks/useCanvasCore.ts
  src/views/CanvasBoard/hooks/useCanvasEvents.ts
  src/views/CanvasBoard/hooks/useDrawingTools.ts
  src/views/CanvasBoard/hooks/useFileOperations.ts
  src/views/CanvasBoard/hooks/useHistory.ts
  src/views/CanvasBoard/hooks/useKeyboardShortcuts.ts
  src/views/CanvasBoard/hooks/useObjectOperations.ts
  src/views/CanvasBoard/types.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

docs(project_rules): 更新必须运行的命令说明
  .trae/rules/project_rules.md
Due: none

docs: 更新增量检查工具命令说明
  .trae/rules/project_rules.md
  openspec/config.yaml
Due: none

feat(canvas): 添加图片插入功能支持
  openspec/changes/archive/2026-02-04-canvas-insert-image/.openspec.yaml
  openspec/changes/archive/2026-02-04-canvas-insert-image/design.md
  openspec/changes/archive/2026-02-04-canvas-insert-image/proposal.md
  openspec/changes/archive/2026-02-04-canvas-insert-image/specs/canvas-image-insert/spec.md
  openspec/changes/archive/2026-02-04-canvas-insert-image/tasks.md
  src/views/CanvasBoard/CanvasBoard.vue
  src/views/CanvasBoard/constants.ts
  src/views/CanvasBoard/hooks/index.ts
  src/views/CanvasBoard/hooks/useImageOperations.ts
  src/views/CanvasBoard/types.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

fix(CanvasBoard): 更新工具栏图标以匹配功能
  .trae/rules/project_rules.md
  openspec/config.yaml
  src/views/CanvasBoard/components/Toolbar.vue
  src/views/CanvasBoard/constants.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

refactor(CanvasBoard): 重构画板功能为独立hooks并优化代码结构
  src/views/CanvasBoard/CanvasBoard.vue
  src/views/CanvasBoard/components/Toolbar.vue
  src/views/CanvasBoard/hooks/index.ts
  src/views/CanvasBoard/hooks/useCanvasExport.ts
  src/views/CanvasBoard/hooks/useCanvasImage.ts
  src/views/CanvasBoard/hooks/useCanvasImport.ts
  src/views/CanvasBoard/hooks/useCanvasToolbar.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

refactor(canvas): 升级fabric版本并重构相关类型导入
  package.json
  pnpm-lock.yaml
  src/views/CanvasBoard/CanvasBoard.vue
  src/views/CanvasBoard/hooks/useCanvasCore.ts
  src/views/CanvasBoard/hooks/useDrawingTools.ts
  src/views/CanvasBoard/hooks/useFileOperations.ts
  src/views/CanvasBoard/hooks/useImageOperations.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

refactor(CanvasBoard): 重构类型定义和事件处理，增强类型安全性
  src/views/CanvasBoard/CanvasBoard.vue
  src/views/CanvasBoard/constants.ts
  src/views/CanvasBoard/hooks/useCanvasCore.ts
  src/views/CanvasBoard/hooks/useCanvasEvents.ts
  src/views/CanvasBoard/hooks/useCanvasExport.ts
  src/views/CanvasBoard/hooks/useCanvasImage.ts
  src/views/CanvasBoard/hooks/useCanvasImport.ts
  src/views/CanvasBoard/hooks/useCanvasToolbar.ts
  src/views/CanvasBoard/hooks/useDrawingTools.ts
  src/views/CanvasBoard/hooks/useFileOperations.ts
  src/views/CanvasBoard/hooks/useHistory.ts
  src/views/CanvasBoard/hooks/useImageOperations.ts
  src/views/CanvasBoard/hooks/useObjectOperations.ts
  src/views/CanvasBoard/types.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

fix(CanvasBoard): 修复图形分组和线条绘制问题
  package.json
  pnpm-lock.yaml
  src/views/CanvasBoard/hooks/useDrawingTools.ts
  src/views/CanvasBoard/hooks/useFileOperations.ts
Due: oxlint --fix, oxfmt

refactor(autostart): 移除加密模块并使用应用名称作为注册表键名
  src-tauri/src/autostart/mod.rs
  src-tauri/src/utils/crypto.rs
  src-tauri/src/utils/mod.rs
Due: none

refactor: 统一使用 useTemplateRef 替代 ref 获取模板引用
  src/views/CanvasBoard/CanvasBoard.vue
  src/views/CanvasBoard/components/CanvasContainer.vue
  src/views/CanvasBoard/hooks/useCanvasImage.ts
  src/views/CanvasBoard/hooks/useCanvasImport.ts
  src/views/CanvasBoard/hooks/useCanvasToolbar.ts
  src/views/EyeProtection/EyeProtection.vue
  src/views/MusicPlayer/components/LyricsPanel.vue
  src/views/MusicPlayer/components/UploadLyricsDialog.vue
  src/views/ReadFile/ReadFile.vue
  src/views/ReadFile/logic.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

fix(CanvasBoard): 修正导出格式中jpg为jpeg并简化类型断言
  src/views/CanvasBoard/__tests__/types.test.ts
  src/views/CanvasBoard/hooks/useCanvasExport.ts
Due: oxlint --fix, oxfmt

feat: 添加字体选择功能并优化绘图工具
  src-tauri/src/font.rs
  src-tauri/src/lib.rs
  src/backend-channel/font.ts
  src/views/CanvasBoard/CanvasBoard.vue
  src/views/CanvasBoard/__tests__/types.test.ts
  src/views/CanvasBoard/components/CanvasContainer.vue
  src/views/CanvasBoard/components/PropertyPanel.vue
  src/views/CanvasBoard/constants.ts
  src/views/CanvasBoard/hooks/useDrawingTools.ts
  src/views/CanvasBoard/hooks/useObjectOperations.ts
  src/views/CanvasBoard/types.ts
  src/views/CanvasBoard/utils/fontUtils.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

fix(CanvasBoard): 修复画布恢复逻辑并添加错误处理
  src/views/CanvasBoard/CanvasBoard.vue
  src/views/CanvasBoard/hooks/useHistory.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

Path conditions:
  oxlint --fix: any of: *.{ts,js,tsx}
  oxfmt: any of: *.{ts,js,tsx}
  oxlint --fix --vue-plugin: any of: *.vue
  prettier --write: any of: *.vue
