Repository DanielShuguang/tool-box: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js,tsx}": [
    "oxlint --fix",
    "oxfmt"
  ],
  "*.vue": [
    "oxlint --fix --vue-plugin",
    "prettier --write"
  ]
}

feat(canvas): 重构画布历史记录和自动保存功能
  openspec/changes/archive/2026-02-13-refactor-canvas-history-autosave/.openspec.yaml
  openspec/changes/archive/2026-02-13-refactor-canvas-history-autosave/design.md
  openspec/changes/archive/2026-02-13-refactor-canvas-history-autosave/proposal.md
  openspec/changes/archive/2026-02-13-refactor-canvas-history-autosave/specs/auto-save/spec.md
  openspec/changes/archive/2026-02-13-refactor-canvas-history-autosave/specs/history-management/spec.md
  openspec/changes/archive/2026-02-13-refactor-canvas-history-autosave/specs/storage-persistence/spec.md
  openspec/changes/archive/2026-02-13-refactor-canvas-history-autosave/tasks.md
  openspec/project.md
  src/views/CanvasBoard/CanvasBoard.vue
  src/views/CanvasBoard/__tests__/types.test.ts
  src/views/CanvasBoard/constants.ts
  src/views/CanvasBoard/hooks/useAutoSave.ts
  src/views/CanvasBoard/hooks/useCanvasStorage.ts
  src/views/CanvasBoard/hooks/useHistory.ts
  src/views/CanvasBoard/hooks/useHistoryStack.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

feat: 添加Canvas配置项并统一存储文件名管理
  src/utils/storage.ts
  src/views/CanvasBoard/hooks/useCanvasStorage.ts
Due: oxlint --fix, oxfmt

feat(画布): 添加画稿文件导入导出功能
  package.json
  pnpm-lock.yaml
  src/views/CanvasBoard/CanvasBoard.vue
  src/views/CanvasBoard/components/DrawMetadataDialog.vue
  src/views/CanvasBoard/components/ExportDialog.vue
  src/views/CanvasBoard/constants.ts
  src/views/CanvasBoard/hooks/index.ts
  src/views/CanvasBoard/hooks/useCanvasToolbar.ts
  src/views/CanvasBoard/hooks/useDrawFile.ts
  src/views/CanvasBoard/types.ts
  src/views/CanvasBoard/utils/drawFileUtils.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

feat(CanvasBoard): 添加填色工具支持
  src/views/CanvasBoard/CanvasBoard.vue
  src/views/CanvasBoard/components/Toolbar.vue
  src/views/CanvasBoard/constants.ts
  src/views/CanvasBoard/hooks/useCanvasToolbar.ts
  src/views/CanvasBoard/hooks/useDrawingTools.ts
  src/views/CanvasBoard/types.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

fix(CanvasBoard): 修复填色工具目标查找问题并移除自动切换工具逻辑
  src/views/CanvasBoard/CanvasBoard.vue
  src/views/CanvasBoard/hooks/useDrawingTools.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

feat: 添加Motion Vue动画库和TypeScript最佳实践文档
  .agents/skills/motion/SKILL.md
  .agents/skills/motion/references/components.md
  .agents/skills/motion/references/composables.md
  .agents/skills/motion/references/examples.md
  .agents/skills/typescript-best-practices/SKILL.md
  .opencode/skills/motion/SKILL.md
  .opencode/skills/motion/references/components.md
  .opencode/skills/motion/references/composables.md
  .opencode/skills/motion/references/examples.md
  .opencode/skills/typescript-best-practices/SKILL.md
  .trae/skills/motion/SKILL.md
  .trae/skills/motion/references/components.md
  .trae/skills/motion/references/composables.md
  .trae/skills/motion/references/examples.md
  .trae/skills/typescript-best-practices/SKILL.md
  skills-lock.json
Due: none

feat(技能): 添加前端设计技能及相关文档
  .agents/skills/frontend-design/LICENSE.txt
  .agents/skills/frontend-design/SKILL.md
  .opencode/skills/frontend-design/LICENSE.txt
  .opencode/skills/frontend-design/SKILL.md
  .trae/skills/frontend-design/LICENSE.txt
  .trae/skills/frontend-design/SKILL.md
  skills-lock.json
Due: none

docs: 重构项目规则文档为模块化结构
  .trae/rules/code-quality.md
  .trae/rules/code-style.md
  .trae/rules/component-development.md
  .trae/rules/environment.md
  .trae/rules/git-commit.md
  .trae/rules/naming-convention.md
  .trae/rules/notes.md
  .trae/rules/project_rules.md
  .trae/rules/tauri-commands.md
  .trae/rules/tech-stack.md
Due: none

feat(下载): 实现断点续传功能
  openspec/changes/archive/2026-02-27-resume-unfinished-download/.openspec.yaml
  openspec/changes/archive/2026-02-27-resume-unfinished-download/design.md
  openspec/changes/archive/2026-02-27-resume-unfinished-download/proposal.md
  openspec/changes/archive/2026-02-27-resume-unfinished-download/specs/resume-download/spec.md
  openspec/changes/archive/2026-02-27-resume-unfinished-download/tasks.md
  src-tauri/src/download/core.rs
  src-tauri/src/download/downloader.rs
  src-tauri/src/download/mod.rs
  src-tauri/src/download/progress.rs
  src-tauri/src/lib.rs
  src/backend-channel/download.ts
  src/types/components.d.ts
  src/views/Download/Download.vue
  src/views/Download/components/ScanResumeDialog.vue
  src/views/Download/hooks/useResumeDownload.ts
  src/views/Download/types.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

refactor: 重构项目文档结构，合并规则到AGENTS.md
  .trae/rules/code-quality.md
  .trae/rules/code-style.md
  .trae/rules/component-development.md
  .trae/rules/environment.md
  .trae/rules/git-commit.md
  .trae/rules/naming-convention.md
  .trae/rules/notes.md
  .trae/rules/tauri-commands.md
  .trae/rules/tech-stack.md
  AGENTS.md
Due: none

build: 更新依赖包版本
  package.json
  pnpm-lock.yaml
Due: none

docs: 将AGENTS.md文档翻译为中文
  AGENTS.md
Due: none

refactor(desktop-lyrics): 重构歌词窗口相关逻辑并提取公共模块
  src/backend-channel/desktop-lyrics.ts
  src/backend-channel/window.ts
  src/views/MusicPlayer/hooks/useDesktopLyrics.ts
Due: oxlint --fix, oxfmt

feat(CanvasBoard): 添加画布内容检查功能
  src/views/CanvasBoard/CanvasBoard.vue
  src/views/CanvasBoard/__tests__/canvasUtils.test.ts
  src/views/CanvasBoard/utils/canvasUtils.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

fix(CanvasBoard): 修复填色工具颜色同步问题
  src/views/CanvasBoard/CanvasBoard.vue
  src/views/CanvasBoard/hooks/useObjectOperations.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

docs: 添加项目开发指南文档
  CLAUDE.md
Due: none

feat(random-picker): 新增随机选择工具功能
  .claude/settings.local.json
  openspec/changes/archive/2026-03-09-add-random-picker/proposal.md
  openspec/changes/archive/2026-03-09-add-random-picker/specs/random-picker/spec.md
  openspec/changes/archive/2026-03-09-add-random-picker/tasks.md
  src/router/index.ts
  src/stores/randomPicker.ts
  src/utils/id.ts
  src/views/RandomPicker/RandomPicker.vue
  src/views/RandomPicker/components/ExportDialog.vue
  src/views/RandomPicker/components/OptionList.vue
  src/views/RandomPicker/components/PickArea.vue
  src/views/RandomPicker/components/PickHistory.vue
  src/views/RandomPicker/components/TargetConfig.vue
  src/views/RandomPicker/types/picker.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

feat(下载): 增加分片下载线程数配置并优化任务队列管理
  .claude/settings.local.json
  src/components/AppSettings/AppSettings.vue
  src/stores/download.ts
  src/views/Download/types.ts
  src/views/RandomPicker/RandomPicker.vue
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

chore: 更新项目依赖包版本
  package.json
  pnpm-lock.yaml
Due: none

chore: 删除不再需要的设置文件并更新.gitignore
  .claude/settings.local.json
  .gitignore
Due: none

chore: 降级 vite 到 v7
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
  src/views/ReadFile/logic.ts
Due: oxlint --fix, oxfmt

fix: 修复 Tauri Rust crate 与 NPM 包版本不匹配问题
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

feat(布局): 重构主布局为左侧图标侧边栏导航
  src/components/Layout/Layout.vue
Due: oxlint --fix --vue-plugin, prettier --write

chore: 增加 ui-ux-pro-max-skill 支持
  .claude/skills/ui-ux-pro-max/SKILL.md
  .claude/skills/ui-ux-pro-max/data/charts.csv
  .claude/skills/ui-ux-pro-max/data/colors.csv
  .claude/skills/ui-ux-pro-max/data/icons.csv
  .claude/skills/ui-ux-pro-max/data/landing.csv
  .claude/skills/ui-ux-pro-max/data/products.csv
  .claude/skills/ui-ux-pro-max/data/react-performance.csv
  .claude/skills/ui-ux-pro-max/data/stacks/astro.csv
  .claude/skills/ui-ux-pro-max/data/stacks/flutter.csv
  .claude/skills/ui-ux-pro-max/data/stacks/html-tailwind.csv
  .claude/skills/ui-ux-pro-max/data/stacks/jetpack-compose.csv
  .claude/skills/ui-ux-pro-max/data/stacks/nextjs.csv
  .claude/skills/ui-ux-pro-max/data/stacks/nuxt-ui.csv
  .claude/skills/ui-ux-pro-max/data/stacks/nuxtjs.csv
  .claude/skills/ui-ux-pro-max/data/stacks/react-native.csv
  .claude/skills/ui-ux-pro-max/data/stacks/react.csv
  .claude/skills/ui-ux-pro-max/data/stacks/shadcn.csv
  .claude/skills/ui-ux-pro-max/data/stacks/svelte.csv
  .claude/skills/ui-ux-pro-max/data/stacks/swiftui.csv
  .claude/skills/ui-ux-pro-max/data/stacks/vue.csv
  .claude/skills/ui-ux-pro-max/data/styles.csv
  .claude/skills/ui-ux-pro-max/data/typography.csv
  .claude/skills/ui-ux-pro-max/data/ui-reasoning.csv
  .claude/skills/ui-ux-pro-max/data/ux-guidelines.csv
  .claude/skills/ui-ux-pro-max/data/web-interface.csv
  .claude/skills/ui-ux-pro-max/scripts/__pycache__/core.cpython-314.pyc
  .claude/skills/ui-ux-pro-max/scripts/__pycache__/design_system.cpython-314.pyc
  .claude/skills/ui-ux-pro-max/scripts/__pycache__/search.cpython-314.pyc
  .claude/skills/ui-ux-pro-max/scripts/core.py
  .claude/skills/ui-ux-pro-max/scripts/design_system.py
  .claude/skills/ui-ux-pro-max/scripts/search.py
Due: none

feat(文件读取): 重新设计页面布局与样式
  src/views/ReadFile/ReadFile.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(文件搜索): 重新设计文件搜索页面 UI
  src/views/FileSearch/FileSearch.vue
Due: oxlint --fix --vue-plugin, prettier --write

fix(文件搜索): 修正结果数量展示，使用 renderItems.length 替代 list.length
  src/views/FileSearch/FileSearch.vue
Due: oxlint --fix --vue-plugin, prettier --write

fix(布局): 移除路由切换过渡动画，解决切换页面时白屏问题
  src/components/Layout/Layout.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(下载管理): 重新设计下载管理页面 UI
  src/views/Download/Download.vue
  src/views/Download/components/DownloadTaskItem.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(Windows激活): 重新设计 Windows 激活页面 UI
  src/views/WindowsActivatiion/WindowsActivatiion.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(护眼工具): 重新设计护眼工具页面 UI
  src/views/EyeProtection/EyeProtection.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(翻译工具): 重新设计翻译工具页面 UI
  src/views/Translator/Translator.vue
Due: oxlint --fix --vue-plugin, prettier --write

refactor: 重新设计待办事项页面 UI/UX
  src/types/components.d.ts
  src/views/Todo/Todo.vue
  vite.config.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

refactor: 更新开发指南，优化格式和语言规范
  AGENTS.md
  CLAUDE.md
Due: none

chore: 删除过时的 AI Agent 行为规范文档
  AGENTS.md
Due: none

refactor(记账页面): 重新设计记账管理页面 UI/UX
  src/views/Accounting/Accounting.vue
Due: oxlint --fix --vue-plugin, prettier --write

Revert "refactor(记账页面): 重新设计记账管理页面 UI/UX"
  src/views/Accounting/Accounting.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(记账页面): 添加统计信息和更新表单布局
  src/stores/accounting.ts
  src/views/Accounting/Accounting.vue
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write
