Repository DanielShuguang/tool-box: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js,tsx}": [
    "oxlint --fix",
    "oxfmt"
  ],
  "*.vue": [
    "oxlint --fix --vue-plugin",
    "prettier --write"
  ]
}

feat(类型系统): 添加 StrictDict 类型并应用于音频格式处理
  src/types/common.ts
  src/views/MusicPlayer/hooks/useAudioFormat.ts
Due: oxlint --fix, oxfmt

docs: 添加关于测试工具和Tauri命令测试的文档说明
  .trae/rules/project_rules.md
  openspec/project.md
Due: none

fix(pinia-storage-adapter): 修复 watchDebounced 监听状态的问题
  src/plugins/pinia-storage-adapter.ts
Due: oxlint --fix, oxfmt

fix(MusicPlayer): 修复拖拽选择误判问题
  src/views/MusicPlayer/hooks/useSelectionBox.ts
Due: oxlint --fix, oxfmt

refactor(MusicPlayer): 优化播放列表面板和选择逻辑
  src/views/MusicPlayer/components/PlaylistPanel.vue
  src/views/MusicPlayer/hooks/useSelectionCore.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

refactor(音乐播放器): 重构播放进度状态管理
  src/stores/musicPlayer.ts
  src/views/MusicPlayer/components/PlaylistPanel.vue
  src/views/MusicPlayer/hooks/usePlaylist.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

refactor(MusicPlayer): 重构选择逻辑并优化 StrictDict 类型定义
  src/types/common.ts
  src/views/MusicPlayer/components/PlaylistPanel.vue
  src/views/MusicPlayer/hooks/useListSelection.ts
  src/views/MusicPlayer/hooks/useSelectionCore.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

fix(MusicPlayer): 修复右键菜单选中逻辑问题
  src/views/MusicPlayer/components/PlaylistPanel.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(PlayerPanel): 添加音乐播放时的旋转动画效果
  src/views/MusicPlayer/components/PlayerPanel.vue
Due: oxlint --fix --vue-plugin, prettier --write

refactor(MusicPlayer): 优化播放器布局和样式为横条模式
  src/views/MusicPlayer/MusicPlayer.vue
  src/views/MusicPlayer/components/PlayerPanel.vue
Due: oxlint --fix --vue-plugin, prettier --write

refactor(types): 移除未使用的resolveUnref类型声明
  src/types/auto-imports.d.ts
Due: oxlint --fix, oxfmt

style(PlayerPanel): 调整播放器面板左右内边距为10px
  src/views/MusicPlayer/components/PlayerPanel.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(MusicPlayer): 添加多播放列表功能
  openspec/changes/archive/2025-12-30-add-multiple-playlists/design.md
  openspec/changes/archive/2025-12-30-add-multiple-playlists/proposal.md
  openspec/changes/archive/2025-12-30-add-multiple-playlists/specs/music-player/spec.md
  openspec/changes/archive/2025-12-30-add-multiple-playlists/tasks.md
  src/stores/musicPlayer.ts
  src/views/MusicPlayer/MusicPlayer.vue
  src/views/MusicPlayer/components/PlaylistList.vue
  src/views/MusicPlayer/components/PlaylistPanel.vue
  src/views/MusicPlayer/hooks/usePlaylist.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

feat(音乐播放器): 添加歌曲到指定播放列表功能
  src/stores/musicPlayer.ts
  src/views/MusicPlayer/components/PlayerPanel.vue
  src/views/MusicPlayer/components/PlaylistPanel.vue
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

feat(播放器): 实现全屏播放及播放列表弹出功能
  .trae/documents/实现播放界面点击展开全屏功能.md
  src/views/MusicPlayer/MusicPlayer.vue
  src/views/MusicPlayer/components/FullScreenPlaylistPopup.vue
  src/views/MusicPlayer/components/PlayerPanel.vue
Due: oxlint --fix --vue-plugin, prettier --write

refactor(MusicPlayer): 优化播放器面板实现并移除冗余组件
  src/views/MusicPlayer/MusicPlayer.vue
  src/views/MusicPlayer/components/FullScreenPlaylistPopup.vue
  src/views/MusicPlayer/components/PlayerPanel.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(播放列表): 添加删除播放列表前的确认对话框
  src/views/MusicPlayer/components/PlaylistList.vue
Due: oxlint --fix --vue-plugin, prettier --write

refactor(MusicPlayer): 简化播放列表虚拟列表的创建逻辑
  src/views/MusicPlayer/components/PlaylistPanel.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(音乐播放器): 添加当前播放音乐定位功能
  src/views/MusicPlayer/components/PlaylistPanel.vue
  src/views/MusicPlayer/hooks/useTrackLocate.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

feat(extensions): 添加 antfu.unocss 到推荐扩展列表
  .vscode/extensions.json
Due: none

feat(music-player): 添加播放列表导入导出功能
  openspec/changes/archive/2026-01-10-add-playlist-io/proposal.md
  openspec/changes/archive/2026-01-10-add-playlist-io/specs/music-player/spec.md
  openspec/changes/archive/2026-01-10-add-playlist-io/tasks.md
  src-tauri/src/lib.rs
  src-tauri/src/music_player.rs
  src/backend-channel/file-io.ts
  src/views/MusicPlayer/MusicPlayer.vue
  src/views/MusicPlayer/components/PlaylistPanel.vue
  src/views/MusicPlayer/hooks/useContextMenu.ts
  src/views/MusicPlayer/hooks/usePlaylistIO.ts
  src/views/MusicPlayer/hooks/useTopActions.ts
  src/views/MusicPlayer/utils/playlistFormat.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

feat: 集成Vue MCP插件支持
  opencode.json
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: oxlint --fix, oxfmt

feat: 添加 Vue DevTools Kit 依赖
  package.json
  pnpm-lock.yaml
Due: none

refactor(download): 重构下载模块为模块化架构
  src-tauri/src/download.rs
  src-tauri/src/download/core.rs
  src-tauri/src/download/downloader.rs
  src-tauri/src/download/limiter.rs
  src-tauri/src/download/mod.rs
  src-tauri/src/download/utils.rs
  src-tauri/src/lib.rs
  src/backend-channel/download.ts
  src/backend-channel/models/download.ts
Due: oxlint --fix, oxfmt

feat: 统一Rust结构体字段命名规范为小驼峰
  openspec/project.md
  src-tauri/src/autostart/mod.rs
  src-tauri/src/download/mod.rs
  src-tauri/src/file_search.rs
  src-tauri/src/music_player.rs
  src-tauri/src/utils/output.rs
  src/backend-channel/models/download.ts
  src/views/FileSearch/FileSearch.vue
  src/views/FileSearch/logic.ts
  src/views/ReadFile/logic.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

fix(MusicPlayer): 移除全屏高度限制样式
  src/views/MusicPlayer/MusicPlayer.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(music-player): 添加歌词功能支持
  openspec/changes/archive/2026-01-12-add-lyrics-feature/design.md
  openspec/changes/archive/2026-01-12-add-lyrics-feature/proposal.md
  openspec/changes/archive/2026-01-12-add-lyrics-feature/specs/music-player/spec.md
  openspec/changes/archive/2026-01-12-add-lyrics-feature/tasks.md
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/src/lyrics.rs
  src/backend-channel/lyrics.ts
  src/backend-channel/models/lyrics.ts
  src/components/AppSettings/AppSettings.vue
  src/services/lyricsService.ts
  src/stores/lyricsStore.ts
  src/types/components.d.ts
  src/utils/__tests__/lyricsParser.test.ts
  src/utils/lyricsParser.ts
  src/views/MusicPlayer/components/EditLyricsDialog.vue
  src/views/MusicPlayer/components/LyricsPanel.vue
  src/views/MusicPlayer/components/PlayerPanel.vue
  src/views/MusicPlayer/components/UploadLyricsDialog.vue
  src/views/MusicPlayer/hooks/useAudioEvents.ts
  src/views/MusicPlayer/hooks/useAudioPlayback.ts
  src/views/MusicPlayer/hooks/useLyrics.ts
  src/views/MusicPlayer/hooks/useLyricsCache.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

feat(music-player): 实现全屏歌词面板和自适应布局
  opencode.json
  src/components/AppSettings/AppSettings.vue
  src/views/MusicPlayer/components/LyricsPanel.vue
  src/views/MusicPlayer/components/PlayerPanel.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(PlayerPanel): 优化长标题显示效果
  src/views/MusicPlayer/components/PlayerPanel.vue
Due: oxlint --fix --vue-plugin, prettier --write

refactor(lyrics): 移除未使用的导入并重构缓存清理逻辑
  src-tauri/src/lyrics.rs
  src/components/AppSettings/AppSettings.vue
  src/views/MusicPlayer/components/AlbumCover.vue
  src/views/MusicPlayer/components/EmptyPlayer.vue
  src/views/MusicPlayer/components/PlayModeButton.vue
  src/views/MusicPlayer/components/PlayerControls.vue
  src/views/MusicPlayer/components/PlayerPanel.vue
  src/views/MusicPlayer/components/ProgressBar.vue
  src/views/MusicPlayer/components/TrackInfo.vue
  src/views/MusicPlayer/components/VolumeControl.vue
  src/views/MusicPlayer/hooks/useLyricsDialog.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

feat(opencode): 移除多余的context7配置
  opencode.json
Due: none

build: 添加src路径别名以简化模块导入
  tsconfig.json
  vite.config.ts
Due: oxlint --fix, oxfmt

feat: 添加桌面歌词窗口功能
  lyrics.html
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/src/lyrics_window.rs
  src-tauri/tauri.conf.json
  src/lyrics.ts
  src/views/MusicPlayer/components/PlayerPanel.vue
  src/views/MusicPlayer/hooks/useDesktopLyrics.ts
  vite.config.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

feat(appSettings): 添加主题自动跟随系统功能
  src/stores/appSettings.ts
Due: oxlint --fix, oxfmt

fix(appSettings): 修复主题自动跟随系统功能
  src/components/Layout/logic.ts
  src/stores/appSettings.ts
Due: oxlint --fix, oxfmt

refactor(build): 移除Prettier并切换到Oxformat代码格式化工具
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: none

fix(PlaylistPanel): 修复播放列表面板水平滚动问题
  src/views/MusicPlayer/components/PlaylistPanel.vue
Due: oxlint --fix --vue-plugin, prettier --write

feat(音乐播放器): 添加上下文菜单和顶部操作栏功能
  .vscode/settings.json
  src/views/MusicPlayer/hooks/useContextMenu.tsx
  src/views/MusicPlayer/hooks/useTopActions.tsx
Due: oxlint --fix, oxfmt

refactor: 重构事件总线系统并移除全局事件总线
  src/components/AppSettings/logic.ts
  src/components/Layout/logic.ts
  src/main.ts
  src/stores/appSettings.ts
  src/utils/event.ts
  src/views/MusicPlayer/MusicPlayer.vue
  src/views/MusicPlayer/hooks/useContextMenu.tsx
  src/vue.d.ts
Due: oxlint --fix, oxfmt, oxlint --fix --vue-plugin, prettier --write

fix(歌词窗口): 修复窗口显示和状态同步问题
  src-tauri/src/lyrics_window.rs
  src-tauri/tauri.conf.json
  src/components/AppSettings/logic.ts
Due: oxlint --fix, oxfmt
